body{
    background-image: url(../images/Kerala-Winter-Tours.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.login-btn{
    background: transparent;
    color: #fff:
}
.signup-btn{
    background: transparent;
    color: #fff:

}