body{
    background-color: black;
    font-family: cursive;
}
h1{
    margin-top: 35px;
    font-size: 4vw;  
    color: blanchedalmond; 
}
.row1{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: brown;
}
.column{
    float: left;
    width: 30%;
    margin: 0px;
    font-size: 20px;
    padding: 50px;
  transition: transform .2s; 

    
}
.img-responsive{
    height: 100%;
    width: 100%;
}
.column:hover {
    transform: scale(1.7);
  }
  .column1{
      margin:auto ;
      margin-top: 0px;
      font-size: 20px;
          
  }